@model IEnumerable<BetaLabUnidad3.Models.Med>

@{
    ViewBag.Title = "AgregarMed";
}

<h2>Agregar Medicamentos</h2>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Agregar" />
        @*<input type="submit" value="Create" id="Submit" class="btn btn-default" onclick="location.href='@Url.Action("AgregarMed", "Pedidos")'" />*@
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.casa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th>
            <p>Cantidad a comprar (Agregue cantidad de cada farmaco)</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.casa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencia)
            </td>
            <td>
                @using (Html.BeginForm("AgregarMed", "Pedidos", FormMethod.Post))
                {
                    <input type="text" value ="0" name="MedAgregado" id="MedAgregado" />
                    <input type="submit" value="Agregar Medicamento" />
                }
            </td>
        </tr>
    }

</table>
